<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="recordmapper">
	
	<select id="getlist" resultType="com.singsong.singsong.dto.record.Record">
        select * from Record
    </select>

    <update id="uplikes" parameterType="string">
        update Record 
        set r_likes = r_likes + 1
        where r_url = #{url}
    </update>

    <update id="uphites" parameterType="string">
        update Record 
        set r_views = r_views + 1
        where r_url = #{url}
    </update>

    

    
    

    

</mapper>
